body {
    font-family: Arial, sans-serif;
}

input[type="number" i] {
	width: 50px;
}

.pairings {
	border-collapse: collapse;
}

.pairings td:nth-child(2) {
	text-align: right;
}

.pairings td:nth-child(3) {
	padding-left: 5px;
}

.pairings td {
	border-bottom: solid 1px black;
	padding-bottom: 10px;
}

.pairings tr:not(:first-child):not(:nth-child(2)) td {
	padding-top: 5px;
}

.all-borders {
	border-collapse: collapse;
}

.all-borders td {
	border: 1px solid black;
	padding: 10px;
}